*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #ededed
}

header{
    grid-area: header;
}

nav{
    grid-area: nav;
}

main{
    grid-area: main;
}

footer{
    grid-area: footer;
}

.caja2{
    grid-area: caja2;
}

.grid-container{
    display: grid;
    grid-template-areas: 
    "header"
    "nav"
    "main"
    "footer"
    "caja2";
}


/* -------------------------------------------------INDEX/HOME------------------------------------------------------ */

/* -----------------------------------------------HEADER Y NAV------------------------------------------------------- */






.coleccion{
    display: none;
}



header{
    width: 100%;
    height: 50px;
    background: black;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}


header img{
    margin-top: 8px;
    margin-left: 10px;
}

.contenedor{
    width: 100%;
    margin: auto;
}

h1{
    float: left;
}


header .contenedor{
    display: table;
}

#menu-bar{
    display: none;
}


.icon-user,
.icon-basket{
    display: none;
}

header label{
    float: right;
    font-size: 28px;
    margin: 6px 0;
    cursor: pointer;
}

.menu{
    position: absolute;
    top: 50px;
    width: 100%;
    height: 100vh;
    background: rgba(14, 13, 13, 0.9);
    transition: all 0.5s;
    transform: translateX(-100%);
}
.menu a{
    display: block;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    height: 50px;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid rgb(255, 255, 255,0.3);
}

.menu a:hover{
    background: rgb(255, 255, 255,0.3);
}


#menu-bar:checked ~ .menu{
    transform: translateX(0%);
}








/* ----------------------------------------------------SECTION1-------------------------------------------------- */









section{
    width: 100%;
    margin-bottom: 25px;
}

#banner{
    margin-top: 50px;
    position: relative;
}

#banner img{
    width: 100%;
    height: 100%;
}

#banner .contenedor{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.titulo-mujer{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: 800;
    color: rgb(163, 121, 163);
}

section .contenedor a{
    display: block;
    width: 75px;
    text-align: center;
    text-decoration: none;
    background: black;
    color: white;
    padding: 10px;
    border-radius: 25px;
    font-size: 8px;
    font-family: Arial, Helvetica, sans-serif;
}

section .contenedor a:hover{
    background: #ededed;
    color: rgb(100, 74, 100);
    transition: 0.3s;
}








/* -------------------------------------------------SECTION2-------------------------------------------------------- */










#vendidos{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}


#fotos .contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}


#fotos img{
    margin-top: 15px;
    width: 100%;
    max-width: 280px;
    border: 1px solid rgb(201, 201, 201);
}


#fotos h3{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

article h4{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}










/* -----------------------------------------------------SECTION3--------------------------------------------------- */











#deportivo{
    position: relative;
}

#deportivo img{
    width: 100%;
    height: 100%;
}


#deportivo .contenedor{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#deportivo .contenedor h2{
    color: rgb(122, 158, 170);
}

#deportivo .contenedor a:hover{
    background: white;
    color: rgb(122, 158, 170);
    transition: 0.3s;
}









/* -------------------------------------------------------FOOTER------------------------------------------------------ */











footer{
    background: black;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: #ededed;
    position: relative;
}

footer label{
    font-size: 15px;
}

.frase-f{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 13px;
}

footer input{
    background: black;
    border: 1px solid #ededed;
    margin-bottom: 50px;
    position: absolute;
    padding: 10px 30px;
    top: 23%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#iconos{
    text-align: center;
    padding: 10px 20px 10px ;
}

.marco{
    text-align: center;
    padding-bottom: 20px;
}


footer input::placeholder{
    font-size: 11px;
    text-align: center;
}

.c-contenedor{
    margin-top: 40px;
}

.ayudas{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    text-align: center;
    padding-bottom: 20px;
}

.terminos{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    font-size: 10px;
    text-align: center;
    padding-top: 20px ;
}

select{
    background:black;
    color: #ededed;
    padding: 0 20px;
}



.ultimo{
    padding-top: 30px;
}


#final2{
    display: none;
}




.caja2{
    display: none;
}


label{
    color: #d8d7d7;
}










/* ----------------------------------------media tablet------------------------------------ */











@media screen and (min-width: 768px) {
    .menu{
        position:static;
            width: auto;
            height: auto;
            transform: translateX(0%);
            float: right;
            display: flex;
            background: black;
            border-bottom: none;
    }



    header label{
        display: none;
    }


    
     #final2{
         display: none;
     }



     .caja2{
         display: none;
     }



     #fotos-m h4{
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 100;
        font-size: 25px;
    }

     


}





/* --------------------------------------media dekstop------------------------------------ */










@media screen and (min-width: 1024px){

    .menu{
        display: flex;
        background: black;
        border-bottom: none;
    }

    .icon-user{
        display: block;
        padding: 0 20px;
        color: #ededed;
 
    }

    .icon-basket{
        display: block;
        padding: 0 20px;
    }

.icon-user:hover{
    color: #d8d7d7;
    transition: 0.1s;
}

.icon-basket:hover{
    color: #d8d7d7;
    transition: 0.1s;
}





    #banner img{
       display: none;
    }



     
    .coleccion{
        display: block;
        width: 100%;
        height: 500px;
        position: relative;
    }


    .contenedor h2{
        display: none;
    }

    section .contenedor a{
        display: none;
    }

   .titul{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
  }

  .titul p{
      color: white;
  }

   .titul span{
       color: rgb(245, 24, 24);
   }



   .menu a:hover{
       background: black;
       border-bottom: 1px solid #ededed;
   }
   


     #final{
         display: none;
     }


     #final2{
         display: flex;
         height: 300px;
         background: rgb(20, 20, 20);
         justify-content: space-between;
     }

     .fila{
         display: flex;
     }

     .caja1{
         margin-top: 50px;
         margin-left: 50px;
     } 

     .caja1 h5{
         font-size: 16px;
         font-family: Arial, Helvetica, sans-serif;
         border-bottom: 1px solid #ededed;
         margin-bottom: 30px;
         padding-bottom: 15px;
     }


     .caja1 ul{
         padding: 20px 0;
     }

     .li-footer{
         text-decoration: none;
         font-family: Arial, Helvetica, sans-serif;
         list-style: none;
         color: rgb(119, 116, 116);
         font-size: 14px;
     } 

    .caja1 li{
        padding: 4px 0;
    }

     .caja1 label{
         font-size: 20px;
     }



      .red label:hover{
        color: #d8d7d7;
        cursor: pointer;
    }

     
    .caja1 a:hover{
        color: #d8d7d7;
    }


     .ayuda{
         margin-right: 50px;
     }

     
     .acerca{
         margin-right: 50px;
     }

    .red label{
       padding: 0 9px;
       color:rgb(119, 116, 116) ;
    }

     .caja2{
         background:rgb(20, 20, 20) ;
         color: #ededed;
         font-family: Arial, Helvetica, sans-serif;
         display: flex;
         justify-content: space-around;
         border-top: 1px solid #ededed;
         padding: 30px 0;
     }

     .caja2 p{
         color:rgb(119, 116, 116);
         font-size: 12px;
         margin-right: 40px;
     }


     select{
         background: rgb(20, 20, 20);
         padding: 5px 30px;
     }

     #pais{
         padding-left: 10px;
     }



     #fotos-m h4{
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 100;
        font-size: 30px;
    }



    #fotos-m img:hover{
        border: 1px solid rgb(133, 132, 132);
    }


    #fotos img:hover{
        border: 1px solid rgb(133, 132, 132);
    }

}





/* -----------------------------------------------FIN DE INDEX/HOME-------------------------------------------- */




/* --------------------------------------------SECCION MUJERES/HOMBRES------------------------------------------*/






#fotos-m .contenedor-m{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 70px;
}


#fotos-m img{
    margin-top: 15px;
    width: 100%;
    max-width: 280px;
    border: 1px solid rgb(201, 201, 201);
}




#fotos-m h4{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
}

article h4{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}






/* ------------------------------------------------------COLECCIONES----------------------------------------------- */




.titulo-colecciones{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: 800;
}




#calzado-coleccion{
    position: relative;
}

#calzado-coleccion img{
    width: 100%;
    height: 100%;
}


#calzado-coleccion .contenedor{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}


#calzado-coleccion .contenedor a:hover{
    background: white;
    color: rgb(163, 170, 122);
    transition: 0.3s;
}

.natural{
    color: rgb(250, 255, 251);
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 30px;
   font-weight: 800;
}



.death{
    color: rgb(204, 167, 44);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: 800;
}
























































































































































































































































































































































































































































































































































































































